@page "/"
@using procon.Features.Reasons
@using procon.Features.Reasons.Value_Objects

@if (_showEditor)
{
    <input class="form-control" value="@Question" @onchange="@((ChangeEventArgs __e) => ChangeQuestion(__e.Value.ToString()))" />
}
else
{
    <h2 hidden="@_showEditor" @onclick="@(() => _showEditor = !_showEditor)">@Question</h2>
}


@if (ReasonList != null)
{

    <div class="row">
        <div class="col-md-6">
            <ReasonList Name="Pros" Reasons="@ReasonList.Where(x => x.IsPro()).ToList()"></ReasonList>
        </div>
        <div class="col-md-6">
            <ReasonList Name="Cons" Reasons="@ReasonList.Where(x => x.IsCon()).ToList()"></ReasonList>
        </div>
    </div>
}


@code
{
    private bool _showEditor = false;
    private List<Reason> ReasonList;

    public string Question = "Click to change the question.";

    public void ChangeQuestion(string newQuestion)
    {
        Question = newQuestion;
        _showEditor = !_showEditor;
    }

    protected override async Task OnInitializedAsync()
    {
        ReasonList = new List<Reason>
        {
            new Reason(new Description("Good thing")),
            new Reason(new Description("Bad thing"), new Weight(-1), new Probability(100))
        };
    }
}
