@page "/"
@using procon.Features.Reasons
@using procon.Features.Reasons.Value_Objects

@if (_showEditor)
{
    <input class="form-control" value="@Question" @onchange="@((ChangeEventArgs __e) => ChangeQuestion(__e.Value.ToString()))" />
}
else
{
    <h2 @onclick="@(() => _showEditor = !_showEditor)">@Question</h2>
}


@if (ReasonList != null)
{

    <div class="row @MainClass()">
        <div class="col-md-6 @ProsClass()">
            <ReasonList Name="Pros" Reasons="@ReasonList.Where(x => x.IsPro()).ToList()"></ReasonList>
            <button type="button" class="btn btn-success btn-block">Add Pro</button>
        </div>
        <div class="col-md-6 @ConsClass()">
            <ReasonList Name="Cons" Reasons="@ReasonList.Where(x => x.IsCon()).ToList()"></ReasonList>
            <button type="button" class="btn btn-danger btn-block">Add Con</button>
            
        </div>
    </div>
}


@code
{
    private bool _showEditor = false;
    public int Threshold = 2;

    public string MainClass()
    {
        return Math.Abs(Total()) <= Threshold ? "alert-warning" : "";
    }

    public string ProsClass()
    {
        return IsOverallPositive() ? "alert-success" : "";
    }

    public string ConsClass()
    {
        return IsOverallNegative() ? "alert-danger" : "";
    }

    public List<Reason> ReasonList;

    public string Question = "Click to change the question.";

    public decimal Total()
    {
        var total = ReasonList.Sum(x => x.TotalValue);
        return total;
    }

    public bool IsOverallPositive()
    {
        return Total() > Threshold;
    }

    public bool IsOverallNegative()
    {
        return Total() < -Threshold;
    }

    public void ChangeQuestion(string newQuestion)
    {
        Question = newQuestion;
        _showEditor = !_showEditor;
    }

    protected override async Task OnInitializedAsync()
    {
        ReasonList = new List<Reason>
        {
            new Reason(new Description("Good thing"), new Weight(11), new Probability(100)),
            new Reason(new Description("Bad thing"), new Weight(-10), new Probability(100))
        };
    }
}
